<div class="container">
    <div class="group_details">
        <div class="details">
            <div class="details_text">Number of Applicants</div>
            <div class="details_number">{{numberOfApplicants}}</div>
        </div>
        <div class="details">
            <div class="details_text">Number of Groups</div>
            <div class="details_number">{{numberOfGroups}}</div>
        </div>
    </div>
    <div class="action_btns">
        <div class="segregate" (click)="onClickSegregateGroups()">
            <div class="icon_segregate"><img src="assets/icons/layers.png" alt="Check_icon"></div>
            <div>Segregate Groups</div>
        </div>
        <div class="refresh">
            <img src="assets/icons/redo.png" alt="Refresh">
        </div>
    </div>
</div>