@import '../../../styles.scss';

.current_candidate {
    display: flex;
    align-self: center;
    align-items: center;
    margin-right: 80px;
    .user_dp {
        img {
            width: 140px;
            border-radius: 50%;
        }
    }
    .user_details {
        margin-left: 30px;
        font-size: 20pt;
    }
}
.sub_container {
    display: flex;
    margin: 60px 120px;
}
.token_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary-color-light;
    width: 120px;
    height: 120px;
    padding: 20px;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    .text {
        font-size: 18pt;
    }
    .number {
        color: #FFE36E;
        font-size: 24pt;
        font-family: $primary-font-Bold;
    }
}
.queue {
    display: flex;
    justify-content: center;
    .description {
        display: flex;
        align-items: center;
        justify-content: center;
        .desc_text {
            font-size: 20pt;
            color: white;
        }
        .arrow_icon {
            margin-left: 20px;
            margin-right: 20px;
            img {
                height: 40px;
            }
        }
    }
    .candidate_profiles {
        display: flex;
        .profile {
            margin: 10px;
            img {
                border-radius: 50%;
                width: 60px;
            }
        }
    }
}
.action_btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .btn_resume {
        display: flex;
        align-items: center;
        border: 1px solid $primary-color-light;
        padding: 10px;
        cursor: pointer;
        margin-right: 20px;
        font-size: 14pt;
        .icon_check {
            img {
                margin-right: 10px;
                height: 24px;
            }
        }
    }
    .btn_completed {
        display: flex;
        align-items: center;
        border: 1px solid $primary-color-light;
        padding: 10px;
        cursor: pointer;
        margin-left: 20px;
        font-size: 14pt;
        .icon_pdf {
            img {
                margin-right: 10px;
                height: 18px;
            }
        }
    }
    :hover {
        background-color: rgba($color: #ffffff, $alpha: 1);
        color: $primary-color;
    }
}
// Custom Select
select {
    width: -webkit-fill-available;
    margin: 10px 10px !important;
    /* styling */
    background-color: transparent;
    color: $primary-color-light;
    // border: thin solid blue;
    border-radius: 5px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ffffff5d, #ffffff5d);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
select.minimal:focus {
    background-image: linear-gradient(45deg, #ffffff5d 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #ffffff5d 50%), linear-gradient(to right, #ffffff5d, #ffffff5d);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    // border-color: green;
    outline: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
option {
    background-color: black !important;
}