<div class="sub_container">
    <div class="current_candidate">
        <div class="user_dp"><img src="assets/icons/dp.png" alt="Profile_Picture"></div>
        <div class="user_details">
            <div>Berojgar Aurat</div>
            <div>Group no. 3</div>
        </div>
    </div>
    <div class="token_details">
        <div class="text">Token No.</div>
        <div class="number">29</div>
    </div>
</div>
<div class="queue">
    <div class="description">
        <div class="desc_text">Next in line</div>
        <div class="arrow_icon"><img src="assets/images/right-arrow.png" alt=""></div>
    </div>
    <div class="candidate_profiles">
        <div class="profile"><img src="assets/images/profile1.jpg" alt="candidate_profile"></div>
        <div class="profile"><img src="assets/images/profile2.jpg" alt="candidate_profile"></div>
        <div class="profile"><img src="assets/images/profile3.jpg" alt="candidate_profile"></div>
        <div class="profile"><img src="assets/images/profile4.png" alt="candidate_profile"></div>
        <div class="profile"><img src="assets/images/profile5.jpg" alt="candidate_profile"></div>
    </div>
</div>
<div class="action_btns">
    <div class="btn_resume">
        <div class="icon_check"><img src="assets/icons/pdf1.png" alt="PDF_icon"></div>
        <div>Resume</div>
    </div>
    <div class="btn_completed">
        <div class="icon_pdf"><img src="assets/icons/check.png" alt="Check_icon"></div>
        <div>Mark Interview Completed</div>
    </div>
</div>