<div class="container">
    <div class="feeds_container">
        <div class="image_preview">
            <div class="image">
                <img [src]="previewImage != null ? previewImage : 'assets/icons/add-image.png'"  alt="Add_Image">
            </div>
            <div class="select_img_btn">
                <label class="btn fileUpload btn-default">
                    Select Image <input type="file" hidden="" (change)="handleFileInput($event.target.files)">
                </label>
            </div>
        </div>
        <div class="feed_form">
            <div class="input_header">
                <input type="text" placeholder="Header">
            </div>
            <div class="input_detail">
                <textarea id="detail" style="resize:none; font-family: 'UbuntuRegular';" rows="11" cols="60">Details...</textarea>
            </div>
        </div>
    </div>
    <div class="upload">
        <div class="icon_cloud"><img src="assets/icons/cloud-computing.png" alt="Check_icon"></div>
        <div>Post</div>
    </div>
</div>